.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}
.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}


.banner {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.banner-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}
.banner-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}
.banner-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}
.banner-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}


/* Стили для навигационной панели */
.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; /* Выровнять элементы по обеим сторонам */
    align-items: center; /* Вертикальное выравнивание */
    padding: 0 15px; /* Паддинг для навигационной панели */
}
/* Стили для выпадающего меню пользователя */
.user-menu {
    position: relative;
}
.user-menu .dropdown-toggle {
    cursor: pointer;
}
.user-menu .dropdown-menu {
    position: absolute;
    top: 100%; /* Расположение под триггером */
    right: 10px; /* Прижать к правому краю */
    min-width: 150px; /* Минимальная ширина выпадающего списка */
    z-index: 1000; /* Показать поверх других элементов */
    display: none; /* По умолчанию скрыть */
}
.user-menu:hover .dropdown-menu {
    display: block; /* Показать при наведении */
}
/* Стили для ссылок в выпадающем меню пользователя */
.user-menu .dropdown-menu a {
    padding: 10px;
    display: block; /* Сделать ссылки блочными для заполнения всей ширины */
    color: #333; /* Цвет текста ссылок */
    text-decoration: none; /* Убрать подчеркивание */
}
.user-menu .dropdown-menu a:hover {
    background-color: #f6f6f6; /* Цвет фона при наведении */
}

.menu-holder-left{
    display: flex;
    width:30%;
/*    border: 1px solid;*/
}

.menu-left{
    display: flex;
    justify-content: space-around;
    width:100%;
}